@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title"><i class="flaticon-analytics">&ensp;</i>@ViewData["Title"]</h3>
            <span class="kt-subheader__separator kt-hidden"></span>
        </div>
    </div>
</div>
<!-- end:: Subheader -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <!--begin::Dashboard 3-->
    <!--begin::Row
    <div class="row">-->
    <!-- Main view  -->
    <div class="col-lg-12 col-xl-12">
        <div class="alert alert-light alert-elevate fade show" role="alert">
            <div class="alert-icon"><i class="flaticon-danger kt-font-brand"></i></div>
            <div class="alert-text">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="middle-box text-center animated fadeInDown">
                                <h1>404</h1>
                                <h3 class="font-bold">Página no encontrada</h3>

                                <div class="error-desc"><br />
                                    Lo sentimos, pero no se ha encontrado la página que está buscando. @*Intente comprobar la URL en busca de errores, luego presione el botón Actualizar en su navegador o intente encontrar algo más en nuestra aplicación.*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

    </div>

    <!-- </div>
    end::Row-->
    <!--end::Dashboard 3-->
</div>
<!-- end:: Content -->