@{
    ViewBag.Title = "Sin permisos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title"><i class="flaticon-info">&ensp;</i>@ViewData["Title"]</h3>
            <span class="kt-subheader__separator kt-hidden"></span>
        </div>
    </div>
</div>
<!-- end:: Subheader -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <!--begin::Dashboard 3-->
    <!--begin::Row
    <div class="row">-->
    <!-- Main view  -->
    <div class="col-lg-12 col-xl-12">
        <div class="alert alert-light alert-elevate fade show" role="alert">
            <div class="alert-icon"><i class="flaticon-circle kt-font-brand"></i></div>
            <div class="alert-text">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="middle-box text-center animated fadeInDown">
                               
                                    <div class="kt-error404-v1">
                                        <div class="kt-error404-v1__content">
                                            <div class="kt-error404-v1__title">400</div>
                                            <div class="kt-error404-v1__desc"><strong>OOPS!</strong> Lo sentimos, su usuario no tiene autorización.</div>
                                        </div>
                                        @*<div class="kt-error404-v1__image">
                                            <img src="assets/media/misc/404-bg1.jpg" class="kt-error404-v1__image-content" alt="" title="">
                                        </div>*@
                                    </div>
                                @*<h1>400</h1>
        <h3 class="font-bold">Sin permisos</h3>

        <div class="error-desc">
            <br />
            Lo sentimos, su usuario no tiene autorización.
        </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- </div>
    end::Row-->
    <!--end::Dashboard 3-->
</div>
<!-- end:: Content -->
